In [3]:
import pandas as pd

In [4]:
dataset=pd.read_csv("insurance_pree.csv")

In [5]:
dataset

     age     sex     bmi  children smoker      charges
0     19  female  27.900         0    yes  16884.92400
1     18    male  33.770         1     no   1725.55230
2     28    male  33.000         3     no   4449.46200
3     33    male  22.705         0     no  21984.47061
4     32    male  28.880         0     no   3866.85520
..   ...     ...     ...       ...    ...          ...
143   29    male  29.735         2     no  18157.87600
144   30    male  28.690         3    yes  20745.98910
145   29  female  38.830         3     no   5138.25670
146   46    male  30.495         3    yes  40720.55105
147   51  female  37.730         1     no   9877.60770

[148 rows x 6 columns]

In [6]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [7]:
dataset

     age     bmi  children      charges  sex_male  smoker_yes
0     19  27.900         0  16884.92400         0           1
1     18  33.770         1   1725.55230         1           0
2     28  33.000         3   4449.46200         1           0
3     33  22.705         0  21984.47061         1           0
4     32  28.880         0   3866.85520         1           0
..   ...     ...       ...          ...       ...         ...
143   29  29.735         2  18157.87600         1           0
144   30  28.690         3  20745.98910         1           1
145   29  38.830         3   5138.25670         0           0
146   46  30.495         3  40720.55105         1           1
147   51  37.730         1   9877.60770         0           0

[148 rows x 6 columns]

In [8]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [9]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [10]:
independent

     age     bmi  children  sex_male  smoker_yes
0     19  27.900         0         0           1
1     18  33.770         1         1           0
2     28  33.000         3         1           0
3     33  22.705         0         1           0
4     32  28.880         0         1           0
..   ...     ...       ...       ...         ...
143   29  29.735         2         1           0
144   30  28.690         3         1           1
145   29  38.830         3         0           0
146   46  30.495         3         1           1
147   51  37.730         1         0           0

[148 rows x 5 columns]

In [11]:
dependent=dataset[['charges']]

#https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(criterion='friedman_mse', splitter='best',max_feature='log2')
regressor=regressor.fit(X_train,y_train)

In [12]:
#https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV

param_grid={'criterion':['mse','mae','friedman_mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}
grid= GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\P59469.SJP\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [14]:
re=grid.cv_results_
print("The best DT parameter for prediction:".format(grid.best_params_))

The best DT parameter for prediction:

In [15]:
table=pd.DataFrame.from_dict(re)

In [16]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.026248,2.458602e-02,0.000000,0.000000e+00,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.751230,0.518172,0.908822,0.469991,0.703949,0.670433,0.159901,5
1,0.015625,2.002716e-06,0.000000,0.000000e+00,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.817774,0.718451,0.643599,0.153983,0.569229,0.580607,0.228628,11
2,0.015625,1.033758e-06,0.000000,0.000000e+00,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.591253,-0.043770,0.805376,0.510867,0.698594,0.512464,0.295313,14
3,0.012489,6.244493e-03,0.003137,6.273079e-03,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.679232,0.690419,0.656034,0.272265,0.576418,0.574874,0.156462,12
4,0.009375,7.654889e-03,0.009375,7.654461e-03,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.724214,0.635581,0.790696,0.311646,0.673042,0.627036,0.166065,9
5,0.015625,9.881967e-03,0.003126,6.251049e-03,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",-0.085449,0.661523,0.334271,0.058685,-0.016532,0.190499,0.275288,18
6,0.021875,1.249924e-02,0.006251,7.655356e-03,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.759851,0.644112,0.784189,0.502670,0.604575,0.659080,0.103408,6
7,0.003125,6.250191e-03,0.012500,6.250000e-03,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.619395,0.881158,0.530915,0.477270,0.619129,0.625573,0.138821,10
8,0.015626,7.448435e-07,0.000000,0.000000e+00,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.182446,0.502153,0.684470,0.472438,0.657425,0.499786,0.179118,15
9,0.009375,7.654617e-03,0.012500,6.250024e-03,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.727650,0.830290,0.755599,0.104023,0.767887,0.637090,0.268641,8
10,0.006250,7.655123e-03,0.009375,7.654617e-03,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.521455,0.500991,0.524491,0.268294,0.558739,0.474794,0.104902,17
11,0.000000,0.000000e+00,0.015625,4.909339e-07,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.642846,0.868419,0.489695,0.332329,0.300440,0.526746,0.210050,13
12,0.006325,5.866961e-03,0.004856,5.737959e-03,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.751362,0.583590,0.913691,0.468484,0.712632,0.685952,0.151410,3
13,0.012500,6.249762e-03,0.003125,6.250191e-03,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.779581,0.815996,0.741642,0.525942,0.629555,0.698543,0.106555,1
14,0.004525,6.176502e-03,0.007250,7.077984e-03,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.814593,0.724912,0.579158,0.550239,0.569280,0.647636,0.104078,7
15,0.007854,6.992044e-03,0.001000,2.000332e-03,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.517496,0.778653,0.884559,0.616464,0.686955,0.696826,0.127007,2
16,0.008525,3.571640e-03,0.004879,8.787267e-04,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.745987,0.584712,0.624761,0.666665,0.732935,0.671012,0.061744,4
17,0.006112,8.187191e-04,0.004000,2.097511e-03,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.517963,0.767411,0.293991,0.369253,0.506106,0.490945,0.161860,16

In [17]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:34
BMI:45
Children:1
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [18]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("The Future prediction ={}".format(Future_Prediction))

The Future prediction =[39774.2763]

C:\Users\P59469.SJP\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"